.footer-container {
    .border {
        border: 1px solid black;
        margin-top: 15px;
    }

    .test-assignment {
        display: flex;
        margin-top: 15px;
        margin-bottom: 15px;
        justify-content: center;
    }
}