.home-container {
    .data-notfound-container {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 15%;
        .no-data-found {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}